<div class="page-index">
    <section class="jumbotron-index">
        <div class="container text-right">

            <h1>Turnbox te ayuda con tu entrenamiento.</h1>
            <p>Buscá tu lugar, reserva un turno y empezá a disfrutar de los resultados.</p>
            <p><a class="btn btn-success btn-lg" href="#/pages/register" role="button">Registrate ahora »</a></p>
        </div>
    </section>

    <section class="jumbotron atleta no-margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 div-table">
                    <div class="div-table-cell icon-middle">
                        <i class="fa fa-calendar fa-8x icon-middle pull-left"></i>
                    </div>
                    <div calss="div-table-cell">
                        <h2>Reservar tus turnos nunca fue tan fácil</h2>
                        <p>Disfruta de nuestro servicio sin importar si cambias de disciplina o de lugar.<br> Todos tienen el mismo sistema y es igual de simple para todos!</p>
                        <p><a class="btn btn-default" href="#" role="button">Aprende más »</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron crossfit no-margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 div-table">
                    <div class="div-table-cell">
                        <h2>La nueva forma de administrar tu negocio</h2>
                        <p>Configura los horarios, los cupos y tus sedes.
                            <br> Tene un seguimiento de tus atletas, nivelalos y brindales un servicio en donde puedan disfrutar de todas tus actividades.
                            <br> Obtene estadisticas que te ayuden a brindar un mejor servicio.
                        </p>
                        <p><a class="btn btn-default" href="#" role="button">Aprende más »</a></p>
                    </div>
                    <div class="div-table-cell icon-middle">
                        <span class="fa fa-sliders fa-8x icon-middle pull-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron footer no-margin-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="/info" tabindex="100">Acerca de</a>
                        </li>
                        <li>
                            <a href="/terms" tabindex="108">Términos</a>
                        </li>
                        <li>
                            <a href="/privacy" tabindex="109">Privacidad</a>
                        </li>
                        <li>
                            <a href="http://twitter.com/duolingo" tabindex="130">
                                <span class="fa fa-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/duolingo" tabindex="140">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/duolingo" tabindex="140">
                                <span class="fa fa-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>