<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="assets/turnbox.png" class="img-responsive" style="max-width: 150px"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle navbar-btn" type="button" data-toggle="dropdown">Sing in</button>
                    <ul class="dropdown-menu" role="menu" style="padding: 15px">
                        <li class="form-group">
                            <span class="btn btn-danger btn-small btn-block">
                                <i class="fa fa-left fa-google"></i>Ingresa con Google
                            </span>
                        </li>
                        <li class="form-group">
                            <span class="btn btn-primary btn-small btn-block">
                                <i class="fa fa-left fa-facebook"></i>Ingresa con Facebook
                            </span>
                        </li>
                        <li class="text-center form-group"><span>o ingresa tus datos abajo</span></li>
                        <li>
                            <form id="login-form" method="post" accept-charset="utf-8" class="">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nombre de usuario" type="text" id="top_login">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña" type="password" id="top_password">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Ingresar</button>
                                </div>
                                <a href="/forgot_password">Restablecer Contraseña</a>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right hidden-lg hidden-md hidden-sm">
                <div class="form-signin">
                    <div class="form-group">
                        <span class="btn btn-danger btn-small btn-block">
                            <i class="fa fa-left fa-google"></i>Ingresa con Google
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="btn btn-primary btn-small btn-block">
                            <i class="fa fa-left fa-facebook"></i>Ingresa con Facebook
                        </span>
                    </div>
                    <div class="text-center form-group"><span>o ingresa tus datos abajo</span></div>
                    <form id="login-form" method="post" accept-charset="utf-8">
                        <div class="form-group">
                            <input class="form-control" placeholder="Nombre de usuario" type="text" id="top_login">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Contraseña" type="password" id="top_password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Ingresar</button>
                        </div>
                        <a href="/forgot_password">Restablecer Contraseña</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>