<div id="nav-wrapper">
    <ul id="nav"

        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/pages/dashboard"> <i class="fa fa-left fa-dashboard"></i><span data-i18n="Panel">Panel</span></a></li>
        <li><a href=""> <i class="fa fa-map-marker"></i><span data-i18n="Mis Lugares">Mis Lugares</span></a></li>
        <li><a href="#/pages/myturns"> <i class="fa fa-calendar"></i><span data-i18n="Mis Turnos">Mis Turnos</span></a></li>
    </ul>
</div>