body {
  padding-top: 70px;
}

.icon-middle{
  vertical-align: middle;
}

.div-table{
  display: table;
}

.div-table-cell{
  display: table-cell;
}

.page {
  padding: 15px;
}

/*
 * Main content
 */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}