<div class="page page-profile">
    <div class="row">
        <div class=" col-sm-12">
            <p><a class="btn btn-primary" href="#/pages/newturn" role="button">Nuevo turno</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-calendar"></i>
                </span>
                <div class="box-info">
                    <p class="size-h4">04/01/2014 - 19:00hs</p>
                    <p class="text-muted"><span data-i18n="Proximo turno">Proximo turno</span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-bar-chart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h4">112</p>
                    <p class="text-muted"><span data-i18n="Total de turnos">Total de turnos</span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-orange">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h4">25</p>
                    <p class="text-muted"><span data-i18n="Seguidores">Seguidores</span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-building"></i>
                </span>
                <div class="box-info">
                    <p class="size-h4">1</p>
                    <p class="text-muted"><span data-i18n="Lugares activos">Lugares activos</span></p>
                </div>
            </div>
        </div>
    </div>
</div>