<div class="page page-mycompanies">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-body">
                <a class="btn btn-info" href="#/pages/newturn" role="button">Agregar lugar</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Mis lugares</strong></div>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Sede</th>
                <th>Fecha ingreso</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cultura 59 Crossfit</td>
                <td>Villa Urquiza</td>
                <td>10/01/2014</td>
                <td><span class="label label-success">Activo</span></td>
            </tr>
            <tr>
                <td>SportClub</td>
                <td>Villa Urquiza</td>
                <td>19/08/2013</td>
                <td><span class="label label-success">Activo</span></td>
            </tr>
            <tr>
                <td>Strong Crossfit</td>
                <td>Nuñez</td>
                <td>22/05/2013</td>
                <td><span class="label label-danger">Inactivo</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>