<div class="page page-myturns">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-body">
                <a class="btn btn-info" href="#/pages/newturn" role="button">Nuevo turno</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Proximo Turnos</strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Lugar</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Disciplina</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="label label-info">Cultura 59 Crossfit</span></td>
                    <td>15 de Noviembre</td>
                    <td>19:00</td>
                    <td>Crossfit</td>
                </tr>
                <tr>
                    <td><span class="label label-danger">SportClub</span></td>
                    <td>18 de Noviembre</td>
                    <td>15:00</td>
                    <td>Spining</td>
                </tr>
                <tr>
                    <td><span class="label label-info">Cultura 59 Crossfit</span></td>
                    <td>22 de Noviembre</td>
                    <td>19:00</td>
                    <td>Crossfit</td>
                </tr>
                <tr>
                    <td><span class="label label-info">Cultura 59 Crossfit</span></td>
                    <td>29 de Noviembre</td>
                    <td>19:00</td>
                    <td>Crossfit</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Historial de Turnos</strong></div>
        <table class="table">
            <thead>
            <tr>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Disciplina</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span class="label label-info">Cultura 59 Crossfit</span></td>
                <td>15 de Noviembre</td>
                <td>19:00</td>
                <td>Crossfit</td>
            </tr>
            <tr>
                <td><span class="label label-danger">SportClub</span></td>
                <td>18 de Noviembre</td>
                <td>15:00</td>
                <td>Spining</td>
            </tr>
            <tr>
                <td><span class="label label-info">Cultura 59 Crossfit</span></td>
                <td>22 de Noviembre</td>
                <td>19:00</td>
                <td>Crossfit</td>
            </tr>
            <tr>
                <td><span class="label label-info">Cultura 59 Crossfit</span></td>
                <td>29 de Noviembre</td>
                <td>19:00</td>
                <td>Crossfit</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>