<div class="page page-newturn">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-profile">
                <div class="panel-heading bg-bright">
                    <a href="" class="pull-left profile">
                        <img alt="" src="assets/logocf.jpg" class="img-circle img80_80">
                    </a>
                    <h3 class="ng-binding">Concrete Jungle Crossfit</h3>
                    <p>Villa Pueyrredon - Bolivia 4859, Capital Federal</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class=" panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Seleccione una fecha</strong></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="input-group ui-datepicker">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control ng-pristine ng-valid ng-valid-required" value="15-01-2015">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class=" panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Horarios disponibles</strong></div>
                <div class="panel-body">
                <table class="responsive table table-striped">
                    <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Cupo</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td><strong>07:00hs</strong></td>
                            <td>10/20</td>
                            <th class="text-right">
                                <a class="label btn-info">Seleccionar</a>
                            </th>
                        </tr>
                        <tr class="success">
                            <td><strong>09:00hs</strong></td>
                            <td>7/20</td>
                            <th class="text-right">
                                <a class="label btn-info">Seleccionar</a>
                            </th>
                        </tr>
                        <tr class="warning">
                            <td><strong>11:00hs</strong></td>
                            <td>18/20</td>
                            <th class="text-right">
                                <a class="label btn-info">Seleccionar</a>
                            </th>
                        </tr>
                        <tr class="success">
                            <td><strong>16:00hs</strong></td>
                            <td>15/20</td>
                            <th class="text-right">
                                <a class="label btn-info">Seleccionar</a>
                            </th>
                        </tr>
                        <tr class="success">
                            <td><strong>17:00hs</strong></td>
                            <td>12/20</td>
                            <th class="text-right">
                                <a class="label btn-info">Seleccionar</a>
                            </th>
                        </tr>
                        <tr class="warning">
                            <td><strong>21:00hs</strong></td>
                            <td>19/20</td>
                            <th class="text-right">
                                <a class="label btn-info">Seleccionar</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class=" panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Informacion del Turno</strong></div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <ul class="list-unstyled list-info">
                            <li class="ng-binding">
                                <span class="icon fa fa-calendar"></span>
                                <label>Fecha</label>
                                15-01-2015
                            </li>
                            <li class="ng-binding">
                                <span class="icon fa fa-clock-o color-info"></span>
                                <label>Hora</label>
                                21:00hs
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="" role="button">Comfirmar turno</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>