<div class="page page-profile">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> Perfil</strong>
        </div>
        <div class="panel-profile clearfix">
            <div class="panel-heading text-center bg-info">
                <img alt="" src="assets/avatar.jpg" class="img-circle img80_80">
                <h3 class="">Juan Martin Hernandez</h3>
                <p>Atleta en Cultura 59 Crossfit</p>
            </div>
            <div class="list-justified-container">
                <ul class="list-justified text-center">
                    <li>
                        <p class="size-h3">115</p>
                        <p class="text-muted">Turnos tomados</p>
                    </li>
                    <li>
                        <p class="size-h3">38</p>
                        <p class="text-muted">Seguidores</p>
                    </li>
                    <li>
                        <p class="size-h3">23</p>
                        <p class="text-muted">Siguiendo</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>