body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    min-height: 70px;
}

.navbar-brand {
    height: 70px;
    padding: 23px 15px;
}

.navbar-turnbox {
    background-color: #001d23;
}

.navbar-turnbox a {
    color: #fff;
    font-size: 30px;
}